<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.streamingdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".control.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".control.ui.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".control.ui.activity.MainActivity" />

        <activity android:name=".control.ui.activity.StreamingAcitivity" />
        <activity android:name=".control.ui.activity.StreamingScreenActivity" />
        <activity android:name=".control.ui.activity.StreamingCameraActivity" />
        <activity android:name=".model.utils.lib.sea.StreamingCameraActivity2" />

        <service android:name=".control.core.api.service.APIService" />
        <service android:name=".control.core.service.HeadViewService" />

    </application>

</manifest>